*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(https://consteladorfamiliar.com/wp-content/uploads/2023/11/WhatsApp-Image-2023-11-26-at-00.33.37.jpeg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

header{
    display: flex;
    flex-direction: column;
}

p{
    margin: 10px;
    padding: 50px 0;
    color: red;
    transition: 0.5s;
    width: 20%;
    background-color: rgb(107, 107, 107);
}

p:hover{
    opacity: 0;
}

h1{
    margin: 10px;
    padding: 50px 0;
    color: red;
    transition: 0.5s;
    width: 20%;
    background-color: rgb(107, 107, 107);
}

h1:hover{
    opacity: 0;
}

span{
    margin: 10px;
    color: red;
    transition: 0.5s;
}

span:hover{
    opacity: 0;
}

img{
    height: 100px;
    transition: 2s;
}

img:hover{
    padding: 1000px;
}

footer{
    background-color: red;
    position: fixed;
    width: 100%;
    height: 100px;
    bottom: 0;
    padding-top: 10px;
}